{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block css %} {% endblock %}
    <link type="text/css" href="{% static 'main/css/main_style.css'%}" rel="stylesheet">

    {% block js %} {% endblock %}

</head>
<body>
    <header class="header">
        <a class="header__logo" href="/">
           <img class="header__logo-image" src="{% static 'main/img/mai_logo_color.png' %}" alt="MAI logo" width="80px">
        </a>
        <form class="header__form">
                <input class="header__form-search"  type="text" placeholder="Поиск товаров...">
            <button class="header__form-search-button" type="submit">Найти</button>
        </form>

        <nav class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a class="header__menu-link header__menu-link--heart" href="{% url 'favorites:fav_list' %}">Избаранное</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link header__menu-link--folder" href="{% url 'goods:goods_list' %}">Категории</a>
                </li>
                <li class="header__menu-item header__menu-item--mail">
                    <a class="header__menu-link header__menu-link" href="#">Поддержка</a>
                </li>
                <li class="header__menu-item header__menu-item--info">
                    <a class="header__menu-link" href="{% url 'goods:add_ad' %}">Разместить объявление</a>
                </li>

                <li class="header__menu-item">
                {% if user.is_authenticated %}
                  <a class="header__menu-link" href="{{ request.user.get_absolute_url }}">
                    <span class="profile__logo">
                      <img class="profile__logo-image" src="/img/iphone_16_128_gb_rozovyy.jpg" alt="" width="35" height="35">
                    </span>
                    {{ request.user.username }}
                  </a>
                {% else %}
                  <a class="header__menu-link" href="{% url 'users:login' %}">
                    Вход
                  </a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>

{% block content %} {% endblock %}

</body>
</html>