{% extends 'base_for_profile.html' %}
{% block content_user %}

<h2 class="profile-main-title">Смена пароля</h2>

<div class="edit-profile-wrapper">
    <form class="add-product__form" method="post">
        {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="add-product__name">
                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
            </div>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        <div class="btns">
                <button class="Btn" type="submit">Сохранить</button>
        </div>
    </form>
</div>

{% endblock %}




