{% extends 'base_for_forms.html' %}
{% block content %}

        <form class="form-registration" method="post">
            {% csrf_token %}
            <h1 class="form-registration__title">
                    Новый пароль
            </h1>

            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <div class="form-box">
                    <label class="visually-hidden" for="{{ f.id_for_label }}">{{ f.label }}</label>
                    <p> {{ f }} </p>
                    <div></div>
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}

            <div class="form__input-box">
                <button type="submit" class="button button--registration">Принять</button>
            </div>
        </form>

        <a class="forgot__password" href="{% url 'users:login' %">Вход</a>


{% endblock %}