{% extends 'base_for_profile.html' %}
{% load static %}


{% block content_user %}

<h2 class="profile-main-title">{% if user == request.user %}Мои товары{% else %}Товары продавца{% endif %}</h2>
<ul class="my-products__list">
    {% for ad in ads %}
    <li class="my-products__item">
        <a href="{{ ad.get_absolute_url }}">
        <div class="my-products__item-wrapper">
            <div class="my-products__photo">
                <img class="my-products__image" src="{{ ad.image.url }}" alt="">
            </div>
            <div class="my-products__info   ">
                <h3 class="my-products__name">{{ ad.name }}</h3>
                <p class="my-products__price">{{ ad.price }} <span>₽</span></p>
            </div>
        </div>
        </a>
        {% if user == request.user %}
        <div class="my-products__btns">
            <a class="my-products__button my-products__button--edit" href="{% url 'goods:edit' ad.slug %}">Редактировать</a>
            <a class="my-products__button my-products__button--edit" href="{% url 'goods:remove' ad.slug %}">Удалить</a>
        </div>
        {% endif %}

    </li>
    {% endfor %}
</ul>


{% endblock %}